---
import { getCollection, type CollectionEntry } from 'astro:content';
import CardService from '../../components/CardService.astro';
import Layout from '../../layouts/Layout.astro';

const star = ({ data }: CollectionEntry<'services'>) => {  
  return data.star === true && data.active === true;
}

const nonstar = ({ data }: CollectionEntry<'services'>) => {  
  return data.star === false && data.active === true;
}

const starServices = (await getCollection('services', star)).sort((a, b) => a.data.order - b.data.order);
const moreServices = (await getCollection('services', nonstar)).sort((a, b) => a.data.order - b.data.order);

const pageTitle = 'Servicios | Joshep Manuel Macha Rutti';
const pageDescription = 'Descubre los servicios profesionales que ofrezco para impulsar tu presencia digital y resolver tus desafíos tecnológicos.';
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="min-h-screen py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
      <!-- Header -->
      <div class="text-center mb-16">
        <h1 class="text-4xl md:text-5xl font-bold   mb-4">
          Mis Servicios
        </h1>
      </div>

      <!-- Featured Services -->
      {starServices.length > 0 && (
        <section class="mb-20">
          <h2 class="text-3xl font-semibold text-foreground dark:text-white mb-8 flex items-center">
            Servicios Destacados
          </h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {starServices.map((service) => (
              <CardService service={service} />
            ))}
          </div>
        </section>
      )}

      <!-- More Services -->
      {moreServices.length > 0 && (
        <section>
          <h3 class="text-3xl font-semibold text-foreground dark:text-white mb-8">
            Más Servicios
          </h3>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {moreServices.map((service) => (
              <CardService service={service} />
            ))}
          </div>
        </section>
      )}
    </div>
  </main>
</Layout>
